<web-app>  
 <servlet>  
    <servlet-name>LoginServlet</servlet-name>  
    <servlet-class>LoginServlet</servlet-class> 
    <init-param>
            <param-name>madhu</param-name>
            <param-value>12345</param-value>
        </init-param>
        <init-param>
            <param-name>Balu</param-name>
            <param-value>67890</param-value>
        </init-param>  
  </servlet>  
  
  <servlet-mapping>  
    <servlet-name>LoginServlet</servlet-name>  
    <url-pattern>/LoginServlet</url-pattern>  
  </servlet-mapping>
<servlet>
  <servlet-name>Profile</servlet-name>  
    <servlet-class>Profile</servlet-class>  
  </servlet>  
  
  <servlet-mapping>  
    <servlet-name>Profile</servlet-name>  
    <url-pattern>/Profile</url-pattern>  
  </servlet-mapping>
<servlet>
  <servlet-name>Logout</servlet-name>  
    <servlet-class>Logout</servlet-class>  
  </servlet>  
  
  <servlet-mapping>  
    <servlet-name>Logout</servlet-name>  
    <url-pattern>/Logout</url-pattern>  
  </servlet-mapping>
 <filter>  
  <filter-name>f1</filter-name>  
  <filter-class>LoginFilter</filter-class> 
  </filter>  
  <filter-mapping>  
  <filter-name>f1</filter-name>  
  <url-pattern>/LoginServlet</url-pattern>  
  </filter-mapping>  
    
</web-app>
