<web-app>
    <servlet>
        <servlet-name>databases</servlet-name>
        <servlet-class>com.vl.training.sample.Databases</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>databases</servlet-name>
        <url-pattern>/ex</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tables</servlet-name>
        <servlet-class>com.vl.training.sample.SelectTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tables</servlet-name>
        <url-pattern>/Tables</url-pattern>
    </servlet-mapping>
</web-app>
